<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Piña Bot - Inicio</title>
		<link rel="stylesheet" href="./css/index.css" />
	</head>
	<body>
		<div class="navbar">
			<ul class="nav-items">
				<li>
					<a href="">Comandos</a>
				</li>
				<li>
					<a href="">Economía</a>
				</li>
				<li>
					<a href="">Soporte</a>
				</li>
				<li>
					<a href="">Más</a>
				</li>
			</ul>
		</div>
		<div class="HeaderContainer">
			<div class="HeaderContent">
				<div class="HeaderTitleContainer">
					<h1 class="HeaderTitle">Piña Bot</h1>
				</div>
				<div class="HeaderItems">
					<div class="HeaderImage">
						<img
							src="https://images.discordapp.net/avatars/744386070552117278/8bf26664654b0fbd2ea472644f173c82.png"
							alt="Piña Bot's avatar"
						/>
					</div>
					<p class="HeaderText">
						Una Bot multifuncional completamente en español. <br />
						¡Mi propósito es entretenerte!
					</p>
				</div>
			</div>
			<div class="HeaderButtons">
				<a class="HeaderButton SupportButton" href="https://discord.gg/REcFSm6">Soporte</a>
				<a class="HeaderButton InviteButton" href="https://discord.com/oauth2/authorize?client_id=744386070552117278&scope=bot&permissions=70642880">Invitar</a>
			</div>
		</div>
	</body>
</html>
