<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piña Bot - Inicio</title>
</head>
<body>
    <div class="Header">
        <header>
            <h1>Piña Bot</h1>
            <ul>
                <li>Inicio</li>
                <li>Comandos</li>
                <li>Economía</li>
                <li>Más</li>
            </ul>
        </header>
    </div>
</body>
</html>